@model Model.Trouble

@{
    ViewBag.Title = "Edit";
    Layout = ViewBag.Layout;
}

@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $('#txtImage').val(fileUrl);
            };
            finder.popup();
        })
    </script>
    <script type="text/javascript">
        setTimeout(function () { $('#sucess').fadeOut(); }, 2000);
    </script>
}



@using (Html.BeginForm("Edit", "Trouble", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Update Trouble</h3>
        <p class="alert-success" id="sucess">@ViewBag.Success</p>
        <hr />
        @Html.HiddenFor(model => model.id_Trouble)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_Report, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.id_Report, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_Report, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_Device, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.id_Device, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_Device, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.describe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.describe, 7, 50, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.describe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.images, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.images, new { htmlAttributes = new { @class = "form-control" }, id = "txtImage", @readonly = "true" })
                @*<button style="margin-left:5px" type="button" id="btnSelectImage" href="#" class="btn btn-default">Select Image</button>*@
                <a class="icon" id="btnSelectImage">
                    <i class="fas fa-folder-open"></i>
                    <span class="tooltiptext">Select</span>
                </a>
                @Html.ValidationMessageFor(model => model.images, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-success" />
                <input type="reset" value="Cancel" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    <a class="icon" href="@Url.Action("Index", "Trouble")">
        <i class="fas fa-arrow-left"></i>
        <span class="tooltiptext">Back</span>
    </a>
</div>
