
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Help Desk System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />

    <link href="~/Assets/css/all.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/brands.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/fontawesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/solid.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/superhero.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script defer src="~/Assets/js/all.js"></script>
    <script defer src="~/Assets/js/brands.js"></script>
    <script defer src="~/Assets/js/solid.js"></script>
    <script defer src="~/Assets/js/fontawesome.js"></script>

    <style>
        ul {
            padding-right: 35px;
            padding-top: 15px;
            list-style: none;
        }

        li {
            padding-left: 25px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index", "Trouble", new { area = "Tech"})">
            Online Help Desk
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-right mr-auto">
               
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ChangeCulture", "Base", new { ddlCulture = "vi", returnUrl = Request.Url.ToString() } )">
                        <img src="~/Assets/icon/vietnam.png" style="padding-right:3px" />
                        @StaticResource.Resource.Vietnamese
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ChangeCulture", "Base", new { ddlCulture = "en", returnUrl = Request.Url.ToString() } )">
                        <img src="~/Assets/icon/united-states.png" style="padding-right:3px" />
                        @StaticResource.Resource.English
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logout", "Authentication", new { area = ""})">
                        <i class="fas fa-sign-out-alt"></i>
                        @StaticResource.Resource.logout
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="list-group" style="width: 17%; height: 100%; overflow:auto; position: fixed; background-color: #f5f6fa">
        @*<a class="btnc" href=@Url.Action("Insert", "Trouble", new { Area = ""})>
            <div class="textc">@StaticResource.Resource.newReport</div>
        </a>*@
        <div style="padding-top: 15px; padding-bottom: 7px; padding-left: 5px">
            <a class="btnc" href=@Url.Action("Insert", "Trouble", new { Area = ""})>
                <div class="textc">@StaticResource.Resource.newReport</div>
            </a>
        </div>
        <a class="list-group-item list-group-item-action icon @ViewData["Tech_Trouble"]" href=@Url.Action("Index", "Trouble", new { Area = "Tech"})>
            <i class="fas fa-briefcase"></i>
            <b style="padding-left:5px">@StaticResource.Resource.resolveTrouble</b>
        </a>
        <a class="list-group-item list-group-item-action icon @ViewData["Staff_Trouble"]" href=@Url.Action("Index", "Trouble", new { Area = ""})>
            <i class="fas fa-file-alt"></i>
            <b style="padding-left:5px">@StaticResource.Resource.myTrouble</b>
        </a>
        <a class="list-group-item list-group-item-action icon @ViewData["Tech_FAQ"] @ViewData["Staff_FAQ"]" href=@Url.Action("Index", "FAQ", new { Area = "Tech"})>
            <i class="fas fa-question-circle"></i>
            <b style="padding-left:5px">@StaticResource.Resource.faq</b>
        </a>
        <a class="list-group-item list-group-item-action icon @ViewData["Staff_Account"]" href="@Url.Action("AccountInfo", "Account", new { Area = ""})">
            <i class="fas fa-key"></i>
            <b style="padding-left:5px">@StaticResource.Resource.account</b>
        </a>

    </div>

    <div class="container body-content" style="margin-left: 17%; width: 83%">
        @RenderBody()
        <hr />
        <footer class="card-footer text-muted">
            <p>&copy; @DateTime.Now.Year Online Helpdesk System</p>
        </footer>
    </div>

    <script src="@Url.Content("~/Scripts/jquery-3.5.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Assets/ckfinder/ckfinder.js")"></script>
    @RenderSection("jsFooter", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>

